@font-face {
  font-family: 'DIN';
  src: url("assets/din1451alt.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'DIN', sans-serif;
}

body {
  background-color: #ffffff;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.go-home {
  display: none;
  position: fixed;
  top: 0;
  right: 60px;
  width: 60px;
  height: 64px;
  color: #222;
  padding-top: 20px;
  background-color: #363636;
  border-radius: 0 0 10px 10px;
  text-align: center;
  z-index: 1;
}

.go-home:hover {
  padding-top: 18px;
  color: #222;
  background-color: #242424;
}

.title {
  font-weight: 100;
}

#title {
  font-weight: 100;
  font-size: 72px;
  color: #058bce;
  margin-bottom: 1px;
  margin-top: -8.5px
}

#subtitle {
  font-weight: 100;
  color: #555;
}

.wide {
  justify-content: left;
  width: 100%;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.95);
}

#tag {
  font-size: 18px;
  color: white;
}

.button.is-text {
  color: #555 !important;
  text-decoration: none;
  margin-bottom: 10px;
}

.button.is-text:focus, .button.is-text:hover {
  color: #ee2a7b !important;
}

#home .button:active {
  color: #00aeef !important;
}

@media only screen and (max-width: 768px) {
  .wide {
    justify-content: center;
    color: #ea9459 !important;
  }

  .button.is-text:focus, .button.is-text:hover {
    color: #ea9459 !important;
  }

  #home .button:active {
    color: #ea9459 !important;
  }
}

.box {
  background: #ffffff;
}

.subheading {
  display: inline-block;
}

.subheading h1 {
  font-size: 48px;
  margin-bottom: 1px;
}

@media only screen and (max-width: 768px) {
  .subheading h1 {
    padding-top: 9px;
    font-size: 28px;
  }
}

#pfp .box .box h1 {
  color: #ea9459;
}

#art {
  padding-bottom: 024px;
}

#pfp {
  padding-top: 0;
  overflow-x: scroll;
}

@media only screen and (max-width: 1023px) {
  #pfp .is-multiline, .is-desktop-multiline {
    flex-wrap: nowrap;
  }
}
