@font-face {
  font-family: 'DIN';
  src: url("assets/din1451alt.ttf") format("truetype");
}

* {
  font-family: 'DIN', sans-serif;
}

body {
  background-image: url(assets/alola-sun-nt.svg) !important;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

#moon {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(assets/alola-moon-nt.svg) !important;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}


#ultra-sun {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(assets/alola-ultra-sun-nt.svg) !important;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

#ultra-moon {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(assets/alola-ultra-moon-nt.svg) !important;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

#title {
  font-size: 72px;
  font-weight: 100;
  color: white;
}
